<!DOCTYPE html>
<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">

<head>
  <meta charset="UTF-8">
  <title>Tours</title>
</head>
<body>

<main layout:fragment = "MainContent">

  <!-- Packages Start -->
  <div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
      <div class="text-center mb-3 pb-3">
        <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Tours</h6>
        <h1>Pefect Tour Packages</h1>
      </div>
      <div class="row">
        <div th:each="tour:${tours}" class="col-lg-4 col-md-6 mb-4">
          <div class="package-item bg-white mb-2">
            <img  class="img-fluid" th:src="${tour.tourImage}" alt="">
            <div class="p-4">
              <div class="d-flex justify-content-between mb-3">
                <small class="m-0" th:utext="'<i class=\'fa fa-map-marker-alt text-primary mr-2\'></i>' + ${tour.name}"></small>
                <small class="m-0" th:utext="'<i class=\'fa fa-calendar-alt text-primary mr-2\'></i>' + ${tour.duration} + ' Days'"></small>
                <small class="m-0" th:utext="'<i class=\'fa fa-user text-primary mr-2\'></i>' + ${tour.maxParticipants} + ' Person'"></small>
              </div>
              <a class="h5 text-decoration-none" href="" th:text="${tour.description}">Discover amazing places of the world with us</a>
              <div class="border-top mt-4 pt-4">
                <div class="d-flex justify-content-between">
                  <h6 th:utext="'<i class=\'fa fa-star text-primary mr-2\'></i>' + ${tour.returnDate}" class="m-0">4.5 <small>(250)</small></h6>
                  <h5 class="m-0" th:text="'$' + ${tour.price}"></h5>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- Packages End -->


  <!-- Destination Start -->
  <div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
      <div class="text-center mb-3 pb-3">
        <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Destination</h6>
        <h1>Explore Top Destination</h1>
      </div>
      <div class="row">
        <div  class="col-lg-4 col-md-6 mb-4" th:each = "destination : ${destinations}" style="cursor: pointer">
          <div  class="destination-item position-relative overflow-hidden mb-2">
            <img style="height: 250px;" class="img-fluid" th:src="${destination.photoUrl}" alt="">
            <a th:href="'/destinations/' + ${destination.id}" class="destination-overlay text-white text-decoration-none" href="">
              <h5 th:text="${destination.city}" class="text-white">United States</h5>
              <span th:text="${destination.name}"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Destination Start -->


</body>
</html>