<!DOCTYPE html>
<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Destinations</title>
</head>
<body>

<main layout:fragment = "MainContent">
    <!-- Destination Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Destination</h6>
                <h1>Explore Top Destination</h1>
            </div>
            <div class="row">
                <div  class="col-lg-4 col-md-6 mb-4" th:each = "destination : ${destinations}" style="cursor: pointer">
                    <div  class="destination-item position-relative overflow-hidden mb-2">
                        <img style="height: 250px;" class="img-fluid" th:src="${destination.photoUrl}" alt="">
                        <a th:href="'/destinations/' + ${destination.id}" class="destination-overlay text-white text-decoration-none" href="">
                            <h5 th:text="${destination.city}" class="text-white">United States</h5>
                            <span th:text="${destination.name}"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Destination Start -->
</main>

</body>
</html>